/* General Reset */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
p{
    text-align: center;
}
/* Header Styling */
header {
    height: 50px;
    color: #914319;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

header .logo {
    font-size: 38px;
    font-weight: 800;
}

header .logo a {
    color: #914319;
    text-decoration: none;
}

header .logo span {
    font-style: italic;
}

header nav {
    width: auto;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav ul li {
    list-style: none;
    font-size: 21px;
}

header nav ul li a {
    text-decoration: none;
    color: #914319;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #e85b29;
}

/* Home Section */
.home {
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.4)
      ), 
      url(assets/images/background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #fff;
}

.home .head {
    margin-top: 50px;
    font-size: 36px;
    font-weight: 400;
    max-width: 60%;
    line-height: 1.5;
}

.home .classbutton button {
    margin-top: 25px;
    width: 150px;
    height: 40px;
    background-color: #914319;
    font-size: 15px;
    border: 0.5px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.home .classbutton button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.home .flow-button button {
    position: absolute;
    right: 25px;
    bottom: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #914319;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.home .flow-button button a{
    text-decoration: none;
    color: #fff;
}
/* About Section */
.about {
    margin-top: 60px;
    width: 100%;
    padding: 40px;
    background-color: #f9f9f9;
}

.about .about-up {
    text-align: center;
    margin-bottom: 30px;
}

.about .about-up h1 {
    margin-bottom: 10px;
    color: #914319;
}

.about .about-down {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.about .about-down .left-about {
    background-color: #fbf9f9;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.about .about-down .left-about h1 {
    color: #914319;
    font-size: 20px;
}

.about .about-down .right-about {
    width: 500px;
}

.about .about-down .right-about img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Policy Section */
.policy {
    margin-top: 60px;
    padding: 40px;
}

.policy .policy-up {
    text-align: center;
    margin-bottom: 30px;
}

.policy .policy-up h1 {
    color: #914319;
}

.policy .down-policy {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.policy .down-policy .card1, .policy .down-policy .card2, .policy .down-policy .card3 {
    background-color: #f7f5f4;
    width: 320px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.policy .down-policy h3 {
    color: #914319;
    padding: 8px;
}

.policy .down-policy .notes {
    padding: 8px;
}

.policy .image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Contact Section */
.contact {
    margin-top: 20px;
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
}

.contact .contact-us h1 {
    color: #914319;
    margin-bottom: 10px;
}

.contact .icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact .icons i {
    font-size: 32px;
    color: #914319;
    background-color: #f7f6f6;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.contact .icons i:hover {
    background-color: #914319;
    color: #fff;
    transform: scale(1.1);
}
/* Media Queries */
@media (max-width: 768px) {
    header {
        padding: 0 10px;
    }

    header .logo {
        font-size: 1.2rem;
    }

    header nav ul {
        gap: 10px;
        display: none;
    }

    header nav ul li a {
        font-size: 0.9rem;
    }

    .home .head {
        font-size: 1.0rem;
    }

    .home .classbutton button {
        width: 100px;
        height: 30px;
        font-size: 10px;
    }

    .about .about-down {
        flex-direction: column;
    }
    .about .about-down .left-about {
        width: 250px;
    }
    .about .about-down .left-about h1{
        text-align: center;
        margin-bottom: 10px;
    }
    .about .about-down .right-about {
        width: 250px;
    }
    .policy .down-policy {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .policy .down-policy .card {
        width: 100%;
    }
}